@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Baloo Da 2", serif;
    --font-secondary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

html{
    scroll-behavior: smooth;
}

.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    cursor: pointer;
    transition: .8s;
}

.show-menu .hamburguer{
    right: 16.5rem;
}

.line{
    width: 100%;
    height: .125rem;
    background-color: #ffffff;
    box-shadow: .1rem .1rem 1px #000;
    transition: .8s;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.2rem, .7rem);
    background-color: rgb(85, 85, 85);
    box-shadow: none;
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
    transition: none;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(0, -.6rem);
    background-color: rgb(85, 85, 85);
    box-shadow: none;
}

.hamburguer span{
    position: absolute;
    left: 2.5rem;
    width: 3.5rem;
    height: 1.5rem;
    background-color: #007be0;
    color: #ffffff;
    font-family: var(--font-action);
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 3.5px;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #007be0;
    border-top: .4rem solid transparent;
    border-left: .6rem solid transparent;
    border-bottom: .4rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .8);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom {
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1{
    color: #ffffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: .6rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p{
    font-family: var(--font-secondary);
    font-weight: 100;
    color: #ffffff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.btn{
    background: -webkit-linear-gradient(to right,#00028a,#0066ff);
    background: linear-gradient(to right, #00028a, #0066ff);
    font-family: var(--font-action);
    color: #ffffff;
    border: none;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.banner button{
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: .8rem 3rem;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards; 
}

@keyframes moveBanner {
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.side-bar{
    width: 20rem;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all .8s;
    z-index: 99;
}

.show-menu .side-bar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color .8s;
}

.menu-link:hover{
    color: #0062b3;
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    background: linear-gradient(to right, #00028a, #0066ff);
    color: #ffffff;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color .5s;
}

.social-media i:hover{
    background: linear-gradient(to right, #002fff, #00c3ff);
}

.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 5rem);
    row-gap: .5rem;
}

.conhecimento:nth-child(1){
    grid-column: 3 / 7;
    grid-row: 1 / 2;
}

.conhecimento:nth-child(2){
    grid-column: 2 / 6;
    grid-row: 3 / 4;
}

.conhecimento:nth-child(3){
    grid-column: 3 / 7;
    grid-row: 5 / 6;
}

.conhecimento:nth-child(4){
    grid-column: 11 / 15;
    grid-row: 1 / 2;
}

.conhecimento:nth-child(5){
    grid-column: 12 / 16;
    grid-row: 3 / 4;
}

.conhecimento:nth-child(6){
    grid-column: 11 / 15;
    grid-row: 5 / 6;
}

.sessao-conhecimentos{
    width: 100%;
    height: 100vh;
    border-top: 1px solid rgba(38, 0, 255, 0.212);
    background: #eee;
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 2.8rem;
    color: rgba(14, 0, 92, 0.7);
    border-bottom: solid 4px rgba(14, 0, 92, 0.7);
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom-left-radius: 3.5rem;
    border-bottom-right-radius: 3.5rem;
}

.conhecimento-header{
    display: flex;
    align-items: center;
    color: rgba(14, 0, 92, 0.75);
}


.conhecimento-header i{
    font-size: 2.5rem;
}

.conhecimento-header #icon1{
    color: #f06000;
}

.conhecimento-header #icon2{
    color: #0084db;
}

.conhecimento-header #icon3{
    color: rgb(128, 96, 49);
}

.conhecimento-header #icon4{
    color: #e4d021;
}

.conhecimento-header #icon5{
    color: #9200d6;
}

.conhecimento-header #icon6{
    color: #313131;
}

.conhecimento-header h3{
    font-family: var(--font-secondary);
    font-size: 2rem;
    padding-left: 1rem;
}

.conhecimento-text{
    font-family: var(--font-secondary);
    font-weight: 500;
    margin-top: .8rem;
    color:#170078;
}

.conhecimentos-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 2 / 6;
}

.conhecimentos-img-wrapper img{
    width: 100%;
}

.sessao-projetos{  
    width: 100%;
    height: 100vh;
    background:#eee;
    border-top: 1px solid rgba(38, 0, 255, 0.212);
}

.projetos{
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 18rem;
    height: 25rem;
    position: relative;
    margin-top: 3rem;
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
    background-color: #1100ff;
    border-radius: .5rem;
}

.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .9;
    transition: opacity .3s;
}

.card:hover .card-img-wrapper img{
    opacity: .4;
}

.card-info{
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    padding: 2rem;
    text-shadow: 0 .1rem .3rem rgba(0, 0, 0, .6);
    transition: all .3s;
}

.card-info h2{
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
}

.card-info h3{
    font-family: var(--font-secondary);
    font-weight: bolder;
    color: #ff1da1;
    margin-bottom: 1rem;
}

.card-info p{
    font-family: var(--font-secondary);
    color: #eee;
    font-weight: 500;
    margin-bottom: 2rem;
}

.card-info button{
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
}

.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}

.sessao-contato{
    width: 100%;
    height: 100vh;
    background:#eee;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(38, 0, 255, 0.212);
}

.contato-wrapper{
    width: 60%;
    height: 30rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, .5);
}

.contato-left{
    width: 35%;
    background: linear-gradient(rgba(4, 0, 75, 0.9), rgba(0, 9, 138, 0.9)),
        url("images/contato.jpg");
    background-size: cover;
}

.contato-right{
    width: 65%;
    background-color:#fff;
    padding: 1.2rem 3rem 3rem 3rem;
}

.sessao-contato h1{
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
    color: rgba(14, 0, 92, 0.8);
}

.sessao-contato form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group{
    position: relative;
}

.input-group textarea{
    max-width: 25rem;
    max-height: 3rem;
    margin-top: 1.8rem;
}

.field{
    background: transparent;
    border: none;
    outline: none;
    width: 20rem;
    height: 3rem;
    font-size: 1.5rem;
    font-family: var(--font-secondary);
    border-bottom: 2px dashed #170078;
    margin: 1rem 0;
}

.field-label{
    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1.1rem;
    font-family: var(--font-action);
    transition: all .3s;
    color: #170078;
}

.field:valid ~ label,
.field:focus ~ label{
    top: 0;
    font-size: .9rem;
}

.field:focus{
    border-bottom: 2px solid;
    color: #170078;
}

.btn-submit{
    font-size: 1.1rem;
    text-transform: uppercase;
    width: 20rem;
    height: 2rem;
    margin-top: 1rem;
}

.sessao-orcamento{
    width: 100%;
    height: 100vh;
    background:#eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(38, 0, 255, 0.212);
}

.orcamento-wrapper{
    width:60%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    position: relative;
}

.sessao-orcamento h1{
    position: absolute;
    top: -2.2rem;
    left: 2rem;
    background: linear-gradient(to right, #00028a, #0049b6);
    padding: 0 3rem;
    color: #ffffff;
    font-family: var(--font-primary);
    font-size: 2.8rem;
    font-weight: lighter;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.sessao-orcamento form{
    margin: 5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.sessao-orcamento label{
    font-family:var(--font-secondary);
    font-size: 1.5rem;
    font-weight: bold;
}

.sessao-orcamento input[type="number"]{
    font-family:var(--font-secondary);
    width: 4rem;
    font-size: 2rem;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: .3rem;
}

.btn-orcamento{
    text-transform: uppercase;
    padding: 1rem;
    grid-column: 2;
}

footer{
    width: 100%;
    height: 4rem;
    background-color: #060057;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 80%;
    display: flex;
    justify-content:space-evenly;
}

.footer-content p{
    font-family: var(--font-primary);
    color: #c6c2ff;
    font-size: 1.2rem;
}

.social-list a{
    margin: 0 2rem;
    color: #c6c2ff;
    font-size: 1.5rem;
}

.social-list ul{
    display: flex;
}

#link-to-top{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    background: -webkit-linear-gradient(to top,#00028a,#0066ff);
    background: linear-gradient(to top, #00028a, #0066ff);
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
